PORT=8080
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DBNAME?schema=public
JWT_SECRET=1c3b6b2a8f2c4d2c9a6f7c1d9e2b7a5f
SUPER_ADMIN_USERNAME=admin001
SUPER_ADMIN_PASSWORD=12345678
SUPER_ADMIN_NAME=student management system
SUPER_ADMIN_EMAIL=superadmin@edu.com
CORS_ORIGINS=https://smsfrontend-hlja.onrender.com
